@{
    ViewData["Title"] = "Home page";
}

<div class="map-container flex-vertical">
    <div class="flex-horizontal flex-stretch">
        <iframe class="flex-stretch" src="https://maps.google.com/maps?q=1128%20n%20clark%20st&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>
<div class="flex-horizontal" style="padding-top:20px; justify-content:center;">
    <label>Enter an address:</label><input class="flex-stretch" type="text" style="max-width: 500px;" />
</div>

